body {
	margin: 0;
	font-family: sans-serif;
}

#container {
	margin-top: 0px; /* need margin to don't be hide by nav bar, so it's controlled by js */
}

nav#mainMenu {
	overflow: auto;
	top: 0;
	position: fixed;

	width: 100%;

	font-size: 0px; /* to remove space at the top */
}

nav#mainMenu ul {
	background-color: #1E90FF;

	padding-left: 20px;
	padding-right: 20px;
}

nav#mainMenu ul li.link {
	list-style-type: none;

	display: inline-block;

	margin-right: 0px;
	margin-left: 0px;
	margin-top: 3px;
	margin-bottom: 3px;

	transition: 0.4s  background-color;

	font-size: 20px;

	border-radius: 50px;
}

nav#mainMenu ul li.link a {
	color: #FFF;
	text-decoration: none;

	transition: 0.4s color;

	padding: 10px;
}

nav#mainMenu ul li.link:hover a {
	color: #1E90FF;
}

nav#mainMenu ul li.link:hover {
	background-color: #FFF;
}

nav#mainMenu ul li.active {
	background-color: #7FFFD4;
}

nav#mainMenu ul li.active:hover {
	background-color: #7FFFD4; /* To remove animation */
}

nav#mainMenu ul li.active a {
	color: #1E90FF;
	pointer-events: none;
}
